<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Covid Vaccinations India</h1>
    <p>Welcome to <%= title %></p>
    <a href="/vacinate">Search for slots</a>
    <a href="/alert">Alert me on telegram</a>
  </body>
</html>
